{% extends "base.html" %}
{% set title = "Login" %}

{% block content %}
<section class="login-section">
    <form class="box login-box">
        <h1>Login</h1>
        <p>Enter your details to continue shopping.</p>

        <label for="username">Username or Email</label>
        <input id="username" type="email" placeholder="you@example.com">

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password">

        <button type="submit">Login</button>
    </form>
</section>
{% endblock %}
